/*-------------------------------------------Start Section---------------------------------------------*/

/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
    box-sizing: border-box;
  }
  
  /*--------------------------------------------End Section---------------------------------------------*/
  /*-------------------------------------------Start Section---------------------------------------------*/
  /*default body settings*/
  
  body {
    background-color: #fdfdfd;
    color: #222;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 14px; 
    font-weight: 300;
    line-height: 1.8em; 
  }   
  
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  
  h1 {
    font-size: 2.75em;
    font-weight: 400;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 500;
  }
  
  h3 {
    font-size: 2em;
    font-weight: 400;
  }

  h4 {
    font-size: 1em;
    font-weight: 400;
  }
  
  #about-page h3 { 

    margin-top: 0;
  }


  footer {
    font-size: 16px;
    font-weight: 300;
  }
  

  /*setting images to full-width for mobile-first approach (resizing them for other media queries*/
  img {
    width: 100%;
    max-height: 600px;
  }
  
  /*change the default link color to your primary color (copied from your comments at the top of the document)*/
  a {
    color: #f02038;
    text-decoration: none; /* no underliying */
  }
  a:hover {
    color: #f02038;
  }
  
  .white {
        color: #fdfdfd;
  }
  
  /*CSS code for the button class*/
  
  .button {
    display: inline-block;
    background-color: white;
    color: #EB1029;
    font-weight: 400px;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 20px;
    transition: 0.8s opacity;
  }
  
  .button:hover {
    opacity: 0.8;
    display: inline-block;  
    background-color: #EB1029;
    color: white;
    font-weight: 400px;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
  }
  
  .button:active {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  
  
  /*--------------------------------------------End Section---------------------------------------------*/
  /*-------------------------------------------Start Section---------------------------------------------*/
  /*stye the page sections*/

  /*style the <header> element*/
  
  header {
    background-color: rgba(255, 255, 255, 0.8);
    color: #090909;
    display: inline-block;
    padding: 12px 0 4px 0px;
    position: fixed;
    width: 100%;
  }

  
  /*style the logo*/

  header .logo {
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* -------- Navigation Styling --------- */


  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  /* --- Hide all the list elements except for the hamburger menu icon */

  .navtoggle li:not(:last-child) {
    display: none;
  }
  

  /* Menu bar's position is relative to the logo. "navtoggle.responsive" is a new class for later javascript work */

  /* Postion of the menu icon in relationship to the header */

  .navtoggle, 
  .navtoggle.responsive {
    position: relative;
  }


  /* block value: when the .responsive class is toggled, it will override our previous code and show the complete menu */

  .navtoggle.responsive li  {
    display: block;
  }

  /* Hambergur menu icon styling */

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 24px;
    padding-right: 10px;
    color: #4a4a4a;
  }


  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #4a4a4a;
  }
   
  #hero {
    background-color: #fdfdfd;
    color: #090909;
    padding-top: 150px;
    display: inline-block;
    width: 100%; /* A MUST: if the page is viewed on a larger screen, the “hero” section will expand to fill the full width */
    text-align: center;
  }
  
  #hero span {
    display: block;
  }
  
  #contact {
    background-color: #fafafa;
    color: #222;
    padding: 20px;
  }
  
  
  /*Style the social icons*/
  .social {
    margin-left: -10px;
  }
  
  .social p {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .social svg {
    height: 32px;
    width: 32px;
  }


  /*--------------------------------------------End Section---------------------------------------------*/
  /*-------------------------------------------Start Section---------------------------------------------*/
  /* Layout styling */
  
  .container {
    padding: 0 15px;
  }


  .container-about {
    text-align: center;

  }

  .container-contact {
    text-align: center;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  
  #work .row { padding-bottom: 20px; }

    
  .sheida-red {
    color: #f02038;
  }
  
  .black {
    color: #222;
  }

  .mywork {
    text-align: center;
    padding-top: 70px;
  }

  .projects { 
    padding: 50px 0;
  }
  
  .competitors-pic {
    width: 30%;
  }

  /*--------------------------------------------End Section---------------------------------------------*/
  /*-------------------------------------------Start Section---------------------------------------------*/
  /*SVG anamation*/
  .svg-animation {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }
  
  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  /*single line...
  .sun {
    animation: 4s color-change infinite alternate linear;
  }
  */
  
  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
  
  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  /*single line...
  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }
  */
  
  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }
  
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
  /*--------------------------------------------End Section---------------------------------------------*/
  /*-------------------------------------------Start Section---------------------------------------------*/
  /*Media Queries*/
  
  /*clear page flow*/
  .row::after {
    content: "";
    clear: both;
    display: table;
  
  }
  
  /*float all columns left*/
  [class*="col-"] {
    padding: 10px;
  }
  
  /* ==============================
  Medium devices (640px and larger)
  ================================= */
  @media only screen and (min-width: 640px) {
    body {
      font-size: 18px;
    }
      
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    #hero {
      text-align: left;
    }
  
    nav {
      width: auto;
      float: right;
    }

    /* Removed header margin from mobile base code, yet still want those margins on your larger screens so added here again */

    nav > ul {
      margin: 1em 0;
    }
      
    .col-md-6 {
      width: 50%;
      float: left;
      padding-bottom: 40px;
    }

    nav > ul > li {
      display: inline-block;
    }
      
    /* Maintaining the navigation elements on Tablet */

    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
    
     /* Removing the hamburger icon */
     
    .navtoggle li:last-child {
      display: none;
    }

  .designprocess  {
    text-align: center;
  }

.competitors-pic {
  width: 10%;
  }
  
  
  /* ==============================
  Large devices (1024px or larger)
  ================================= */
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
      
    img {
      width: 60%;
      max-height: 600px;
    }
      
    .profile.pic {
        width: 10%;
        max-height: 50px;
    }

    .project-info {
        display: inline-block;
    }

    .col-lg-7 {
      width: 60%;
    }
  
    .col-lg-5 {
      width: 40%;
    }
      
    .col-lg-7 {
      width: 60%;
      float: left;
      padding-bottom: 40px;
    }
    .col-lg-8 {
      width: 40%;
      float: right;
    }
      
     #about-page .col-md-6 {
       width: 100%;
    }
    
    #about-page picture img {
      width: 30%;
      float: right;
  }

  .skills-tools {
    padding-left: 100px;
    
  }

  }
  

  /* --------------------------------------------PEACELAB PROJECT----------------------------------------- */
  /*---------------------------------------------Start Section---------------------------------------------*/

  .project-title {
      text-align: center;
      padding-top: 50px;
  }

  .project-pic {
    text-align: center;
    padding-top: 150px;
    width: 85%;
}

    .project-info { 
        padding: 10px 10px;
        text-align: center;
    }

    .no-bullets {
        list-style-type: none;
    }

    .project-headers {
        padding-bottom: 50px;
    }


        /* Create three equal columns that floats next to each other */
.column-project {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  text-align: center;
  padding-top: 50px;
}

 /* Clear floats after the columns */
.row-projectoverview:after {
  content: "";
  display: table;
  clear: both;
}



      /*---------------------------------------------END Section---------------------------------------------*/