/*
colors used::
primary color (white): #fdfdfd
secondary color (black): #222
secondary color (red): #f02038
*/

* {
    box-sizing: border-box;
}

header {
    background-color: #090909;
    color: #fdfdfd;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* A MUST: if the page is viewed on a larger screen, the “hero” section will expand to fill the full width */
}

body {
    background-color: #fdfdfd;
    color: #222;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 16px; 
    font-weight: 400;
    line-height: 1.8em; 
}   


#hero h1 {
    text-align: center;
    font-size: 45px;

}


h1, h2, h3, h4 {
    line-height: 1.45em;
}

h1 { 
    font-size: 2.75em;
    font-weight: 400
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

a {
    color: #f02038;
    text-decoration: none; /* no underliying */
}
a:hover {
    color: #f02038;
}

.white {
        color: #fdfdfd;
}

.sheida-red {
    color: #f02038;
}

.button {
    display: inline-block;
    background-color: white;
    color: #f02038;
    font-weight: 400px;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 20px;
    transition-duration: 0.2s;
    transition-property:opacity;
}

.button:hover {
    display: inline-block;
    background-color: #f02038;
    color: white;
    font-weight: 400px;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
    opacity: 0.5;
}

.project-mockup {      
    width: 50%;
    text-align: center;
}


/* Layout styling for index.html */


#hero {
    background-color: #090909;
    color: #fdfdfd;
    padding: 75px 0;
    display: inline-block;
    width: 100%; /* A MUST: if the page is viewed on a larger screen, the “hero” section will expand to fill the full width */
}

.header-container {
    padding:0 20px;
    text-align: left;
}

.container {
        padding: 0 60px; 
}

.row {
    margin: 25px 0px; /* 25px top and bottom, 0 left and right */
    
}


#work .row {
     padding-bottom: 25px;
     /* border-bottom: 1px solid #d3d3d3; removed the lines */ 
    padding-top: 70px;
            
}


.logo {
    max-width: 250px;
}


.site-menu {
    /* ?? HOW TO CHANGE IT TO UP SAME LINE AS LOGO ?? */
}

nav > ul {
    list-style-type: none; /* for removing the dots */
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;

  }

  nav > ul > li > a {
    padding: 0 20px; /* top and bottom margin of 20px L&R 0*/
    /* text-transform: uppercase; OFF */
    font-weight: 400;
    color: #222;
  }

  nav > ul > li > a:hover {
      color: #f02038;
  }

  nav {
    display: inline-block;
    width: 100%;
    text-align: right;
}


/* Layout styling for FOOTER */

footer {
    width: 100%;
    display: inline-block;
    background-color: #090909;
    color: #fdfdfd;
    margin-top: 20px;
    font-size: 14px;
}

.footer-container {
    font-size: 0.9em;
    padding: 100px 0;
}


.black {
    color: #222;
}



/* --------------- Layout styling for about.html -------------------- */

.h1-mystory {
    font-size: 40px;
}

.profile-pic {  
    text-align: center;
    padding top: 50px;
}


.navigation-about {
    list-style-type: none;
    padding: 0; /* for removing the dots */
    font-size: 14px;
    font-weight: 300;
}

.intro-mystory {
    line-height: 2.2;
}

.skills-set {
    display: block;
    padding: 30px 0;    
}



/* -----------  Layout styling for peacelab.html ----------*/


.project-title {
    text-align: center;
    line-height: 20px;
}

.project-info {
    text-align: left;
    display: inline-block;
}

.title-pic {
    text-align: center;
}

.overview {
    text-align: center;
    line-height: 30px;
    padding-top: 35px;
}

.project-headers {
    text-align: left;
    line-height: 30px;
    padding-top: 35px;
}

.competitors-pic {
    display: inline-block;
}

.design-process {
    font-size: 14px;
    /* ???  <div class="design-process"> */
}


.peacelab-container {
    padding: 20px 20px;
}




/*-------------- Animation ------------------ */

.svg-animation {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

@keyframes color-change {
    0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}

}

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  /*single line...
  .sun {
    animation: 4s color-change infinite alternate linear;
  }
  */
  

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }


  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }


/* -----------Media Queries ---------------*/


    /* ----- float all columns left------ */

    [class*="col-"] {
        padding: 10px;
    }


    /* -----clear page flow -------- */
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

/* Medium screens from 640 up to 1024px; including large mobile and most tablets (640px and larger) */

@media only screen and (min-width: 640px) {

    header {
        text-align: unset;
        padding: 20px 0 20px;
      }

      nav {
        width: auto;
        float: right;
        margin-top: 4px;
      }

      body {
          font-size: 18px;
      }
      
      #hero {
          text-align: center;
      }
      
      .intro-mystory {
          font-size: 16px;
      }


      .col-md-6 {
          width: 50%;
          float: left;
          padding-bottom: 40%;
      }

      .project-mockup {
          width: 100px;
          float: left;
      }

}



/* Large screen sizes from 1024 up to 1440px; including large tablets and most laptops/desktops */

@media only screen and (min-width: 1024px) {

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

      .col-lg-7 {
        width: 60%;
        float: left;
        padding-bottom: 40px;
      }

      .col-lg-5 {
        width: 40%;
      }

      .col-lg-8 {
        width: 40%;
        float: right;
      }

      #about-page .col-md-6 {
        width: 100%;
     }

     .project-mockup {
         width: 20px;
     }

     .skills-set {
        display: block;
     }

}




